#!/usr/bin/make -f
%:
	dh $@

# simply copy the binary to /usr/local/bin

override_dh_auto_build:
	./build

override_dh_auto_clean:
	rm -rf dist/

override_dh_auto_install:
	dh_install dist/linux/particle-life usr/bin
